<!-- Footer Section -->
<footer class="relative px-5 md:px-24 py-10 text-white">
  <!-- Background Image -->

  <!-- Overlay -->
  <!-- <div class="absolute inset-0 bg-blue-900/50 -z-10"></div> -->

  <!-- Main Content -->
  <div class="md:flex justify-between gap-10">
    <!-- Left Section -->
    <div>
      <div class="text-xl font-heading flex items-center gap-2">
        <img src="Images/logo.jpeg" class="w-28" />
      </div>

      <p class="max-w-md pt-5 text-sm">
        Potter's Ellie Academy is committed to nurturing excellence from the
        foundation stage to secondary level — shaping confident, curious, and
        compassionate learners ready to impact the world.
      </p>
    </div>

    <!-- Quick Links -->
    <div class="pt-8 md:pt-0 footer-links">
      <h4 class="pb-4 text-lg font-heading text-gray-300">Quick Links</h4>
      <ul class="text-sm space-y-2">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="academics.html">Academics</a></li>
        <li><a href="admissions.html">Admissions</a></li>
        <li><a href="events.html">Events</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>

    <!-- Contact -->
    <div class="text-sm pt-8 md:pt-0">
      <h4 class="pb-4 text-lg font-heading text-gray-300">Contact</h4>

      <p>
        <span class="font-bold">Email:</span> infopotter'sellieacademy@gmail.com
      </p>
      <p class="pt-2">
        <span class="font-bold">Phone:</span>
        <span>+234 803 733 8975 </span>
        <span>+234 814 331 2804</span>
      </p>
      <p class="pt-2 max-w-xs">
        <span class="font-bold">Location:</span><br />
        #23 Golden Valley Estate Behind UBA, By YKC Junction WOji Port Harcourt,
        Rivers State Nigeria
      </p>
    </div>
  </div>

  <!-- Social Icons -->
  <div
    data-aos="zoom-in"
    data-aos-delay="200"
    class="flex justify-between items-center mt-8"
  >
    <div class="footer-icon flex gap-4 text-xl">
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://www.tiktok.com/didicoding" target="_blank"
        ><i class="fa-brands fa-tiktok"></i
      ></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
    </div>
  </div>

  <!-- Bottom -->
  <div
    class="mt-8 pt-5 border-t border-gray-300 flex flex-col md:flex-row items-center justify-between text-sm text-center md:text-left gap-2"
  >
    <span>© 2025 Potter’s Ellie Academy. All rights reserved.</span>
    <span class="text-xs">
      Powered by Brimdex™ <i class="fa-solid fa-layer-group fa-beat"></i>
    </span>
  </div>

  <!-- BACK TO TOP -->
  <button
    id="backToTop"
    class="fixed bottom-6 right-6 bg-accent text-white p-3 rounded-full shadow-lg"
  >
    ↑
  </button>
</footer>
